.container {
    width: 80%;
    margin-top: 10%;
  }
  #date {
    font-size: 1.2em;
  }

  #time {
    font-size: 2em;
  }
  body {
    background-color: rgb(157, 157, 255);
  }
  .btnklik {
      margin-top: 10px;
  }